---
const className = Astro.props.class ?? "";
---

<div class={`flex gap-4 text-2xl ${className}`}>
  <a href="https://github.com/naufalfaisa" target="_blank" aria-label="GitHub">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://twitter.com/naufalfaisa" target="_blank" aria-label="Twitter">
    <i class="fab fa-x-twitter"></i>
  </a>
  <a href="https://facebook.com/naufalfaisa17" aria-label="Facebook">
    <i class="fa-brands fa-facebook"></i>
  <a href="https://instagram.com/naufalfaisa_" aria-label="Instagram">
    <i class="fa fa-instagram"></i>
  </a>
</div>
